<md-item layout-padding>
   <md-item>{{showSubmitForm}}</md-item>
    <form name="newEvent" layout="column">
        <md-item layout="column" layout-align="space-around start" layout-fill>
            <md-item layout="column" layout-align="center">
                <md-select placeholder="Typ zdarzenia" name="event" ng-model="submittedEvent.Event" aria-label="typ zdarzenia" required>
                    <md-option ng-repeat="Event in Base.BaseOptionSet.EventSet.Events" ng-value="Event" ng-click="clearSelectType()">
                        {{Event.EventName}}
                    </md-option>
                </md-select>
            </md-item>
            <md-item ng-if="submittedEvent.Event" layout="column" layout-align="center" class="animate">
                <md-select placeholder="Rezultat zdarzenia" name="result" ng-model="submittedEvent.Result" aria-label="rezultat zdarzenia" required>
                    <md-option ng-repeat="Result in Base.BaseOptionSet.ResultSet.Results" ng-value="Result" ng-click="clearSelectResult()" ng-if="Result.SpecificToEventId == 0 || Result.SpecificToEventId == submittedEvent.Event.EventId">
                        {{Result.ResultName}}
                    </md-option>
                </md-select>
            </md-item>
            <md-item ng-if="submittedEvent.Result.IsNegativeEnding" layout="column" layout-align="center" class="animate">
                <md-select placeholder="Powód rezygnacji" name="resignation" ng-model="submittedEvent.ResignationReason" aria-label="powód rezygnacji" required>
                    <md-option ng-repeat="ResignationReason in Base.BaseOptionSet.ResignationReasonSet.ResignationReasons" ng-value="ResignationReason">
                        {{ResignationReason.ResignationReasonDescription}}
                    </md-option>
                </md-select>
            </md-item>
            <md-item ng-if="submittedEvent.Result.IsPositiveEnding" layout="column" layout-align="center" class="animate">
                <md-item ng-repeat="SubmittedProduct in submittedEvent.Products" layout="row" layout-align="start">
                    <md-select flex="50" ng-model="SubmittedProduct.Product" aria-label="zakupione produkty" required>
                        <md-option ng-repeat="Product in Base.BaseOptionSet.ProductSet.Products | orderBy:Product.ProductName" ng-value="Product" class="animate">
                            {{Product.ProductName}}
                        </md-option>
                    </md-select>
                    <md-input-container flex="45">
                        <label for="value">Wartość</label>
                        <input name="value" ng-model="SubmittedProduct.Value" type="number" required autocomplete="off" />
                    </md-input-container>
                    <md-item flex="5" ng-if="!$last"></md-item>
                    <md-button layout layout-align="center" class="md-primary md-raised animate delete-button" flex="10" type="button" ng-if="$last" ng-form="null" ng-click="removeProduct()">
                        <md-icon md-svg-icon="/Img/Icons/delete.svg" aria-hidden="true"></md-icon>
                    </md-button>
                </md-item>
                <md-button ng-click="addProduct()">Dodaj produkt</md-button>
            </md-item>
            <md-input-container layout="column" layout-align="center">
                <label>Komentarz</label>
                <textarea ng-model="submittedEvent.Comment" type="text" rows="1" autocomplete="off"></textarea>
            </md-input-container>
            <md-item ng-if="submittedEvent.Result && !submittedEvent.Result.IsNegativeEnding && !submittedEvent.Result.IsPositiveEnding">
                <label for="nextevent">Następne zdarzenie</label>
                <md-select ng-model="submittedEvent.NextEvent" aria-label="następne zdarzenie" required ng-disabled="submittedEvent.Result.ResultingEventId != 0">
                    <md-option ng-repeat="Event in Base.BaseOptionSet.EventSet.Events" ng-value="Event" ng-selected="submittedEvent.Result.ResultingEventId != 0" ng-if="submittedEvent.Result.ResultingEventId == 0 || submittedEvent.Result.ResultingEventId == Event.EventId">
                        {{Event.EventName}}
                    </md-option>
                </md-select>
                <md-input-container layout="column" layout-align="center">
                    <label for="nexteventdate">Data następnego zdarzenia</label>
                    <input name="nexteventdate" ng-model="submittedEvent.NextEventDate" type="datetime-local" required autocomplete="off" value="{{now}}" min="{{now}}" max="{{max}}" />
                    <md-item ng-messages="newEvent.nexteventdate.$error" layout="column">
                        <md-item ng-message="min" ng-if="newEvent.nexteventdate.$error.min">
                            Data następnego zdarzenia nie może być wcześniejsza niż teraz.
                        </md-item>
                        <md-item ng-message="max" ng-if="newEvent.nexteventdate.$error.max">
                            Data następnego zdarzenia nie może być późniejsza niż za 10 lat.
                        </md-item>
                    </md-item>
                </md-input-container>
            </md-item>
            <md-button class="md-raised md-primary" ng-click="submitEvent(); show = !show" ng-disabled="newEvent.$invalid" flex id="event-submit">Wyślij</md-button>
        </md-item>
        <md-item>{{submittedEvent}}</md-item>
    </form>
</md-item>