<md-content class="wrapper" ng-app="myApp" lang="pl">
    <md-item data-ng-controller="loginCtrl as log">
        <md-content ng-if="!isLoggedIn" layout="column" layout-align="center center" class="content-wrapper animate-login">
            <form name="loginForm" class="md-whiteframe-z2 login-form"  layout="column" layout-align="center center">
                <md-toolbar layout="row" layout-align="center start">
                    <md-icon class="logo" md-svg-src="logo" aria-hidden="true"></md-icon>
                    <md-item layout="row" layout-align="center center">
                        <md-item>Nowy Cross-sell</md-item>
                    </md-item>
                </md-toolbar>
                <md-item layout="row" layout-align="center center">
                    <md-input-container md-padding md-primary>
                        <label for="login">Login</label>
                        <input name="login" type="text" ng-model="login" ng-required="true" autocomplete="off" />
                    </md-input-container>
                    <md-input-container md-padding md-primary>
                        <label for="password" md-padding>Hasło</label>
                        <input name="password" type="password" ng-model="password" ng-required="true" autocomplete="off" />
                    </md-input-container>
                </md-item>
                <md-item ng-if="invalidPassword" class="warning animate">Błędne hasło!</md-item>
                <md-button class="md-raised md-primary" id="login-submit" ng-click="log.tryLogin(login, password)">Zaloguj się</md-button>
            </form>
        </md-content>
        <md-content data-ng-controller="tabCtrl as tab" ng-if="isLoggedIn" class="animate-login">
            <md-item layout="row" data-ng-controller="mainCtrl" class="layout-wrapper">
                <md-sidenav layout="column" class="sidenav-wrapper md-whiteframe-z1" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">
                    <md-toolbar class="md-hue-1">
                        <md-icon class="logo" md-svg-src="logo" aria-hidden="true"></md-icon>
                    </md-toolbar>
                    <md-content layout="column" class="md-sidenav-left" flex>
                        <md-item>
                            <md-list layout="column" layout-align="center start" class="menu-list md-3-line" flex="100">
                                <md-button layout-fill class="inner-wrapper" ng-class="{ 'md-accent' :tab.isSet(1) }" ng-click="tab.setTab(1)">Klienci</md-button>
                                <md-button layout-fill class="inner-wrapper" ng-class="{ 'md-accent' :tab.isSet(2) }" ng-click="tab.setTab(2)">Dostęp</md-button>
                                <md-button layout-fill class="inner-wrapper" ng-class="{ 'md-accent' :tab.isSet(3) }" ng-click="tab.setTab(3)">Kalendarz</md-button>
                                <md-button layout-fill class="inner-wrapper" ng-class="{ 'md-accent' :tab.isSet(4) }" ng-click="tab.setTab(4)">Spotkania</md-button>
                                <md-button layout-fill class="inner-wrapper" ng-class="{ 'md-accent' :tab.isSet(5) }" ng-click="tab.setTab(5)">Struktura</md-button>
                                <md-button layout-fill class="inner-wrapper md-warn" ng-click="log.tryLogout()">Wyloguj</md-button>
                            </md-list>
                        </md-item>
                    </md-content>
                </md-sidenav>
                <md-item layout="column" flex>
                    <md-toolbar layout="row" layout-align="center start" class="md-hue-1">
                        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn" aria-label="menu" layout-align="center center">
                            <md-icon md-svg-icon="/Img/Icons/menu.svg" class="icon-white"></md-icon>
                        </md-button>
                        <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Nowy Cross-sell</h1>
                    </md-toolbar>
                    <md-content flex class="content-wrapper">
                        <md-item flex layout-fill class="tab-viewport animate-show" ng-if="tab.isSet(1)" ng-include="'Home/Templates/ClientList'"></md-item>
                        <md-item flex layout-fill class="tab-viewport animate-show" ng-if="tab.isSet(2)" ng-include="'Home/Templates/AccountCreation'"></md-item>
                        <md-item flex layout-fill class="tab-viewport animate-show" ng-if="tab.isSet(3)" ng-include="'Home/Templates/Calendar'"></md-item>
                        <md-item flex layout-fill class="tab-viewport animate-show" ng-if="tab.isSet(4)" ng-include="'Home/Templates/Meetings'"></md-item>
                        <md-item flex layout-fill class="tab-viewport animate-show" ng-if="tab.isSet(5)" ng-include="'Home/Templates/Branches'"></md-item>
                    </md-content>
                </md-item>
            </md-item>
        </md-content>
    </md-item>
</md-content>