<div ng-app="myApp">
    <div ng-controller="mainCtrl">
        <div ng-show="loading">
            Ładuję dane klientów...
        </div>
        <div ng-hide="loading">
            <div ng-repeat="Client in Clients">
                <div ng-click="ClientShowStatus = !ClientShowStatus">{{Client.CompanyName}}</div>
                <div ng-show="ClientShowStatus" ng-animate="{show: 'animate-enter', hide: 'animate-hide'}">
                    <ul>
                        <li>{{Client.ClientId}}</li>
                        <li>{{Client.Owner}}</li>
                        <li>{{Client.CompanyName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>