<div ng-app="myApp" lang="pl">
    <div layout="column" data-ng-controller="mainCtrl">
        <md-toolbar layout="row">
            <md-icon class="logo" md-svg-src ="/Img/Svg/TaxCare.svg" aria-hidden="true"></md-icon>
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                <span class="md-visually-hidden">Menu</span>
            </button>
            <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Nowy Cross-sell</h1>
        </md-toolbar>
        <div layout="row" flex class="content-wrapper">
            <div layout="column">
                <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
                    <md-list layout="column" layout-align="center start" class="menu-list">
                        <md-button>Klienci</md-button>
                        <md-button>Dostęp</md-button>
                        <md-button>Kalendarz</md-button>
                        <md-button>Spotkania</md-button>
                    </md-list>
                </md-sidenav>
            </div>
            <div layout="column" flex class="content-wrapper" id="primary-col">
                <md-content layout="column" flex class="md-padding">
                    <md-item ng-show="loading">
                        Ładuję dane klientów...
                    </md-item>
                    <md-item ng-hide="loading">
                        <md-item>{{Bases.error}}</md-item>
                        <md-list class="base-list" layout="column">
                            <md-item ng-repeat="Base in Bases | unique:'BaseName'">
                                <md-button ng-click="BaseShowStatus = !BaseShowStatus" layout="row">
                                    <span flex="70"><h3>{{Base.BaseName}}</h3></span>
                                    <span flex="15">{{Base.ParsedBaseStart | jsDate | date : fullDate}}</span>
                                    <span flex="15">{{Base.ParsedBaseEnd | jsDate | date : fullDate}}</span>
                                </md-button>
                                    <md-list ng-show="BaseShowStatus" class="client-list">
                                        <md-item ng-repeat="Client in Base.Clients">
                                            <md-item-content layout="column" layout-align="space-between start">
                                                <md-button ng-click="ClientShowStatus = !ClientShowStatus"><span class="md-headline">{{Client.CompanyName}}</span></md-button>
                                                <md-item ng-show="ClientShowStatus">
                                                    <md-item-content layout="column">
                                                        <md-list class="attribute-list" layout="column" layout-align="space-between start">
                                                            <md-item class="list-item">Id Klienta: {{Client.ClientId}}</md-item>
                                                            <md-item class="list-item">Właściciel: {{Client.Owner}}</md-item>
                                                            <md-item class="list-item">Nazwa firmy: {{Client.CompanyName}}</md-item>
                                                        </md-list>
                                                    </md-item-content>
                                                </md-item>
                                            </md-item-content>
                                        </md-item>
                                    </md-list>
                            </md-item>
                        </md-list>
                    </md-item>
                </md-content>
            </div>
        </div>
    </div>
</div>