<div ng-app="myApp" lang="pl">
    <div layout="column" data-ng-controller="mainCtrl">
        <md-toolbar layout="row" layout-align="center start">
            <md-icon class="logo" md-svg-src ="/Img/Svg/TaxCare.svg" aria-hidden="true"></md-icon>
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn" aria-label="menu" >
                <md-icon md-svg-icon="/Img/Icons/menu.svg" class="icon-white"></md-icon>
            </button>
            <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Nowy Cross-sell</h1>
        </md-toolbar>
        <div layout="row" flex class="content-wrapper">
            <div layout="column">
                <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
                    <md-list layout="column" layout-align="center start" class="menu-list">
                        <md-button>Klienci</md-button>
                        <md-button>Dostęp</md-button>
                        <md-button>Kalendarz</md-button>
                        <md-button>Spotkania</md-button>
                    </md-list>
                </md-sidenav>
            </div>
            <div layout="column" flex class="content-wrapper" id="primary-col">
                <md-content layout="column" flex class="md-padding">
                    <md-item ng-show="loading">
                        Ładuję dane klientów...
                    </md-item>
                    <md-item ng-hide="loading">
                        <md-item>{{Bases.error}}</md-item>
                        <md-list class="base-list" layout="column">
                            <md-item ng-repeat="Base in Bases | unique:'BaseName'">
                                <md-item layout="row" layout-align="start center">
                                    <md-button flex="55" ng-click="BaseShowStatus = !BaseShowStatus" layout-align="center center">
                                        <h3>{{Base.BaseName}} ({{Base.Clients.length}})</h3>
                                    </md-button>
                                    <md-button class="detail-button md-accent" ng-click="BaseDetailStatus = !BaseDetailStatus" layout-aling="center center" aria-label="szczegóły akcji">
                                        <md-icon md-svg-icon="/Img/Icons/information-outline.svg" class="icon-grey"></md-icon>
                                        <md-tooltip md-delay="100" md-autohide="true" >Szczegóły akcji</md-tooltip>
                                    </md-button>
                                    <span flex="40" hide show-gt-md offset-sm="100">
                                        Data zakończenia: {{Base.BaseEnd | jsDate | date : 'yyyy-MM-dd'}} ({{Base.DaysLeft}} dni)
                                    </span>
                                </md-item>
                                <md-list ng-show="BaseDetailStatus" class="detail-list" layout="column">
                                    <md-item><h4>SZCZEGÓŁY AKCJI:</h4></md-item>
                                    <md-item>Data rozpoczęcia akcji: {{Base.BaseEnd | jsDate | date : 'yyyy-MM-dd'}}</md-item>
                                    <md-item>Data zakończenia akcji: {{Base.BaseStart | jsDate | date : 'yyyy-MM-dd'}}</md-item>
                                    <md-item>Dni do końca: {{Base.DaysLeft}}</md-item>
                                </md-list>
                                <md-list ng-show="BaseShowStatus" class="client-list">
                                    <md-item><h4>LISTA KLIENTÓW:</h4></md-item>
                                    <md-item ng-repeat="Client in Base.Clients">
                                        <md-item-content layout="column" layout-align="space-between start">
                                            <md-button ng-click="ClientShowStatus = !ClientShowStatus" aria-label="dane klienta">
                                                <span class="md-headline">{{Client.CompanyName}}</span>
                                                <md-tooltip md-delay="100" md-autohide="true">Dane klienta</md-tooltip>
                                            </md-button>
                                            <md-item ng-show="ClientShowStatus">
                                                <md-item-content layout="column">
                                                    <md-list class="attribute-list" layout="column" layout-align="space-between start">
                                                        <md-item class="list-item">Id Klienta: {{Client.ClientId}}</md-item>
                                                        <md-item class="list-item">Właściciel: {{Client.Owner}}</md-item>
                                                        <md-item class="list-item">Nazwa firmy: {{Client.CompanyName}}</md-item>
                                                    </md-list>
                                                </md-item-content>
                                            </md-item>
                                        </md-item-content>
                                    </md-item>
                                </md-list>
                            </md-item>
                        </md-list>
                    </md-item>
                </md-content>
            </div>
        </div>
    </div>
</div>