<md-item layout="column" flex class="content-wrapper" id="primary-col">
    <md-content layout="column" flex class="md-padding">
        <md-item ng-show="loading">
            Ładuję dane klientów...
        </md-item>
        <md-item ng-hide="loading">
            <md-item>{{Bases.error}}</md-item>
            <md-list class="base-list" layout="column">
                <md-item ng-repeat="Base in Bases | unique:'BaseName'">
                    <md-item layout="row" layout-align="start center">
                        <md-button flex="55" ng-click="BaseShowStatus = !BaseShowStatus" layout-align="center center">
                            <h3>{{Base.BaseName}} ({{Base.Clients.length}})</h3>
                        </md-button>
                        <md-button class="detail-button md-accent" ng-click="BaseDetailStatus = !BaseDetailStatus" layout-aling="center center" aria-label="szczegóły akcji">
                            <md-icon md-svg-icon="/Img/Icons/information-outline.svg" class="icon-grey"></md-icon>
                            <md-tooltip md-delay="100" md-autohide="true">Szczegóły akcji</md-tooltip>
                        </md-button>
                        <span flex="40" hide show-gt-md offset-sm="100">
                            Data zakończenia: {{Base.BaseEnd | jsDate | date : 'yyyy-MM-dd'}} ({{Base.DaysLeft}} dni)
                        </span>
                    </md-item>
                    <md-list ng-show="BaseDetailStatus" class="detail-list" layout="column">
                        <md-item><h4>SZCZEGÓŁY AKCJI:</h4></md-item>
                        <md-item>Data rozpoczęcia akcji: {{Base.BaseEnd | jsDate | date : 'yyyy-MM-dd'}}</md-item>
                        <md-item>Data zakończenia akcji: {{Base.BaseStart | jsDate | date : 'yyyy-MM-dd'}}</md-item>
                        <md-item>Dni do końca: {{Base.DaysLeft}}</md-item>
                    </md-list>
                    <md-list ng-show="BaseShowStatus" class="client-list">
                        <md-item><h4>LISTA KLIENTÓW:</h4></md-item>
                        <md-item ng-repeat="Client in Base.Clients">
                            <md-item-content layout="column" layout-align="space-between start">
                                <md-button ng-click="ClientShowStatus = !ClientShowStatus" aria-label="dane klienta">
                                    <span class="md-headline">{{Client.CompanyName}}</span>
                                    <md-tooltip md-delay="100" md-autohide="true">Dane klienta</md-tooltip>
                                </md-button>
                                <md-item ng-show="ClientShowStatus">
                                    <md-item-content layout="column">
                                        <md-list class="attribute-list" layout="column" layout-align="space-between start">
                                            <md-item class="list-item">Id Klienta: {{Client.ClientId}}</md-item>
                                            <md-item class="list-item">Właściciel: {{Client.Owner}}</md-item>
                                            <md-item class="list-item">Nazwa firmy: {{Client.CompanyName}}</md-item>
                                        </md-list>
                                    </md-item-content>
                                </md-item>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </md-item>
            </md-list>
        </md-item>
    </md-content>
</md-item>