@icon-size: 36px;
@logo-size: 64px;
@button-size: 36px;
@button-size2: 24px;

body {
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

h4 {
    padding: 0px 0 0px 10px !important;
    margin: 6px 0 !important;
}

h5 {
    margin: 10px 0 !important;
}

md-content {
    height: 100%;
}

md-list {
    padding: 0 !important;
}

md-progress-linear {
    min-height: 10px;
}

md-sidenav {
    position: static;
    height: 100%;
}

#primary-col {
    overflow: hidden;

    .md-button {
        margin: 10px;
    }

    .cell {
        flex: 1 1 auto;
    }
}

.animate-leave {
    -webkit-animation: 0.5s hide;
    animation: 0.5s hide;
}

.animate-enter {
    -webkit-animation: 0.5s show;
    animation: 0.5s show;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
    }

    75% {
        
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

.attribute-list md-item {
    color: inherit;
    text-align: left;
    margin-left: 16px;
}

.base-list {

    .md-button {
        color: inherit;
    }

    md-item > md-item > span {
        padding-left: 5px;
    }
}

.big-button {
    
    h4 {
        text-align: left;
    }
}

.calendar {
    overflow: hidden !important;
}

.client-list .md-button {
    color: inherit;
    text-align: left;
    width: 100%;
    margin-left: 12px;
}

.content-wrapper {
    position: relative;
    padding: 5px;
}

.day {
    background-color: white !important;
    margin: 4px !important;
    padding: 10px 25px !important;
}

.day-header {
    margin: 3px !important;
    padding: 15px 25px !important;
}

.date-container {
    margin: 10px 10px 10px 0;
    min-width: 176px;
}

.detail-button {
    
    max-width: 44px !important;
    min-width: 44px !important;
    padding: 0 !important;

    md-icon {
        height: @button-size;
        width: @button-size;
    }
}

.detail-button-2 {
    
    max-width: 32px !important;
    min-width: 32px !important;
    padding: 0 !important;

    md-icon {
        height: @button-size2;
        width: @button-size2;
    }
}

.different-month {
    md-item {
        color: #999 !important;
        }
    
    background-color: #eeeeee !important;
}

.gray-paper {
    background-color: white !important;
    margin: 0px 5px 2px 5px;
    padding: 10px 10px 10px 10px !important;

    &:last-child {
        margin-bottom: 3px;
    }
}

.icon {
    height: @icon-size;
    width: @icon-size;
}

.icon-white {
    .icon();
    color: #fff !important;
}

.icon-grey {
    .icon();
    margin: 4px !important;
    color: #999 !important;
}

.inner-wrapper {
    min-width: 100%;
}

.layout-wrapper {
    height: 100%;
}

.logo {
    height: @logo-size !important;
    width: @logo-size !important;
    margin-left: 10px;
}

.md-bar {
    min-height: inherit;
}

.md-container {
    min-height: inherit;
}

.md-locked-open {
    width: 218px !important;
    max-width: 218px !important;
    min-width: 218px !important;
}

.md-sidenav-left {
    overflow: hidden;
    background-color: white !important;
}

.menuBtn {
    display: block;
    height: @button-size !important;
    width: @button-size !important;
}

.menu-list {

    .md-button{
        color: inherit;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 198px;

        &:first-child {
            margin-top: 10px;
        }
    }
}

.paper {
    background-color: white !important;
    height: 64px;
    margin: 2px;
}

.paper2 {
    background-color: white !important;
    width: 100%;
    margin: 0 2px 2px 2px;

    button {
        text-align: left;
    }
}
.sidenav-wrapper {
    height: 100%;
}

.week {
    padding: 1px 10px;

    &:last-child {
        padding-bottom: 10px !important;
    }
}

.white {
    background-color: white !important;
}

.wrapper {
    height: 100%;
}