@theme-color: #29b6f6;

.vendor(@property, @value) {
  -webkit-@{property}: @value;
  -moz-@{property}: @value;
  -ms-@{property}: @value;
  -o-@{property}: @value;
  @{property}: @value;
}

.animate-enter {
    .vendor(transition, 1s linear all);
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: @theme-color;
}

